@page
@model WorkTimeTable.Pages.ContractsModel
@{
    ViewBag.Title = "Договоры";
}

<table class="table table-striped table-bordered">
    <tr><th>ID</th><th>Название</th></tr>
    @foreach (var contract in Model.Contracts)
    {
        <tr>
            <td>@contract.Id</td>
            <td>@contract.Name</td>
            <td>
                <form method="post" asp-page-handler="Edit">
                    <input type="hidden" name="id" value="@contract.Id" />
                    <input name="name" value="@contract.Name"/> @* проверка на null *@
                    <button type="submit" class="btn btn-light">Изменить</button>
                </form>
            </td>
            <td>
                <form method="post" asp-page-handler="Remove"> 
                    <input type="hidden" name="id" value="@contract.Id"/>
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
            </td>
        </tr>
    }
</table>

<text>Добавить новый договор</text>

<form method="post" asp-page-handler="Add">
    <p>
        <input name="name" placeholder="Номер договора"/> @* проверка на null *@
    </p>
    <button type="submit" class="btn btn-success">Добавить</button>
</form>