@page
@model WorkTimeTable.Pages.DepartmentsModel
@{
    ViewBag.Title = "Отделы";
}

<div class="container">

    <table class="table table-striped table-bordered">
        <tr><th>ID</th><th>Название</th><th>Руководитель</th></tr>
        @foreach (var department in Model.Departments)
        {
            string departmentName = department.Leader?.Name ?? "Нет руководителя";
            <tr>
                <td>@department.Id</td>
                <td>@department.Name</td>
                <td>@departmentName</td>
                <td>
                    <form method="post" asp-page-handler="Edit">
                        <input type="hidden" name="id" value="@department.Id" />
                        <input name="name" value="@department.Name" /> @* проверка на null *@
                        <select name="leaderId" asp-items="Model.Options">
                            <option selected disabled>Нет Руководителя</option>
                        </select>
                        <button type="submit" class="btn btn-light">Изменить</button>
                    </form>
                </td>
                <td>
                    <input type="checkbox" name=AreChecked value="@department.Id" form="RemoveForm" />
                </td>
            </tr>
        }
    </table>

    <form method="post" id="RemoveForm" asp-page-handler="Remove">
        <button type="submit" class="btn btn-danger">Удалить</button>
    </form>

</div>

<text>Добавить новый отдел</text>

<form method="post" asp-page-handler="Add">
    <p>
        <input name="name" placeholder="Название" /> @* проверка на null *@
        <select name="leaderId" asp-items="Model.Options">
            <option selected disabled>Нет Руководителя</option>
        </select>
    </p>
    <button type="submit" class="btn btn-success">Добавить</button>
</form>
