@page "{workerShowId?}/{monthShow?}"
@model WorkTimeTable.Pages.IndexModel

@{
    ViewBag.Title = "Главная";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<form method="post" asp-page-handler="ShowWorker">
    <h1>
        Выработка сотрудника 
        <select asp-for="WorkerShowId" 
                asp-items="Model.OptionsWorkers" required>
            <option value="" disabled selected>— Выберите Сотрудника —</option>
        </select>
        за месяц 
        <select asp-for="MonthShow"
                asp-items="Model.OptionsMonths" required>
            <option value="" disabled selected>— Выберите Месяц —</option>
        </select>
    </h1>
    <button type="submit"> Показать </button> 
</form>

@if (Model.WorkerShowId != null && Model.MonthShow != null)
{
    <table>
            <tr><th>Номер договора</th><th>Кол-во часов</th></tr>
            @foreach(var timetable in Model.Timetables)
            {
                <tr>
                    <td>@timetable.Contract.Name</td>
                    <td>@timetable.Hours</td>
                    <td>
                        <form method="post" asp-page-handler="Edit">
                            <input type="hidden" name="id" value="@timetable.Id"/>
                            <input name="hours" type="number" step="1" min="0" value="@timetable.Hours" />
                            <button type="submit">Изменить</button>
                        </form>
                    </td>
                    <td>
                        <form methof="post" asp-page-handler="Remove">
                            <input type="hidden" name="id" value="@timetable.Id"/>
                            <button type="submit">Удалить</button>
                        </form>
                    </td>
                </tr>
            }
    </table>

    <p><text>Всего дней в месяце @Model.DaysInMonth, остаток часов в месяце: @Model.HoursByContract</text></p>

    <p><text>Добавить работу</text></p>

    <form method="post" asp-page-handler="Add">
        <p>
            <select name="contractId" asp-items="Model.OptionsContracts" required>
                <option value="" selected disabled>- Выберите договор -</option> @* тут проверка на null должна быть *@
            </select>
            <input name="hours" type="number" step="1" min="0" placeholder="Кол-во часов" />
            <input type="hidden" name="workerId" value="@Model.WorkerShowId" />
            <input type="hidden" name="month" value="@Model.MonthShow" />
        </p>
        <button type="submit">Добавить</button>
    </form>
}