@page "{workerShowId?}/{monthShow?}"
@model WorkTimeTable.Pages.IndexModel

@{
    ViewBag.Title = "Главная";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="container-fluid pt-2">

    <form method="post" asp-page-handler="ShowWorker">
        <text>
            Выработка сотрудника 
            <select asp-for="WorkerShowId" 
                    asp-items="Model.OptionsWorkers" required>
                <option value="" disabled selected>— Выберите Сотрудника —</option>
            </select>
            за месяц 
            <select asp-for="MonthShow"
                    asp-items="Model.OptionsMonths" required>
                <option value="" disabled selected>— Выберите Месяц —</option>
            </select>
        </text>
        <button type="submit" class="btn btn-primary"> Показать </button>
    </form>

</div>

@if (Model.WorkerShowId != null && Model.MonthShow != null)
{
    <div class="container-fluid pt-2">

        <div class="row">

            <p><text>Всего дней в месяце @Model.DaysInMonth, остаток часов в месяце: @Model.HoursByContract</text></p>

        </div>

        <div class="row">

            <div class="col-1">

                <div class="d-flex flex-column gap-2 w-100">

                    @await Html.PartialAsync("./Shared/_ViewAddDeleteButtons.cshtml")

                </div>

            </div>

            <div class="col-11">

                <table class="table table-striped table-bordered">
                    <tr>
                        <th><input type="checkbox" id="CheckAll" /></th>
                        <th>
                            Номер договора
                            <a asp-page="./Index"
                               asp-route-workerShowId="@Model.WorkerShowId"
                               asp-route-monthShow="@Model.MonthShow"
                               asp-route-sortOrder="@Model.NameSort" 
                               asp-route-currentNameFilter="@Model.NameFilter">
                                *
                            </a>
                            <a asp-page="./Index/@Model.WorkerShowId/@Model.MonthShow" asp-route-sortOrder="@null">
                                +
                            </a>

                            <form method="get" asp-page="./Index"
                                               asp-route-workerShowId="@Model.WorkerShowId"
                                               asp-route-monthShow="@Model.MonthShow">
                                <input class="form-control" type="text" name="searchNameString" value="@Model.NameFilter" />
                                <button type="submit" class="btn btn-light">Поиск</button>
                            </form>
                        </th>
                        <th>
                            Кол-во часов
                            <a asp-page="./Index"
                               asp-route-workerShowId="@Model.WorkerShowId"
                               asp-route-monthShow="@Model.MonthShow"
                               asp-route-sortOrder="@Model.HoursSort">
                                *
                            </a>
                            <a asp-page="./Index"
                               asp-route-workerShowId="@Model.WorkerShowId"
                               asp-route-monthShow="@Model.MonthShow"
                               asp-route-sortOrder="@null">
                                +
                            </a>
                        </th>
                    </tr>
                    @foreach(var timetable in Model.Timetables)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name=AreChecked value="@timetable.Id" form="RemoveForm" />
                            </td>
                            <td>@timetable.Contract.Name</td>
                            <td>@timetable.Hours</td>
                            <td>
                                <form method="post" asp-page-handler="Edit">
                                    <input class="form-control" type="hidden" name="id" value="@timetable.Id" />
                                    <input class="form-control" name="hours" type="number" step="1" min="1" max="@Model.HoursByContract" value="@timetable.Hours" />
                                    <button type="submit" class="btn btn-light">Изменить</button>
                                </form>
                            </td>
                        </tr>
                    }
                </table>

                @{
                    var prevDisabled = !Model.Timetables.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.Timetables.HasNextPage ? "disabled" : "";
                }

                <a asp-page="./Index"
                   asp-route-workerShowId="@Model.WorkerShowId"
                   asp-route-monthShow="@Model.MonthShow"
                   asp-route-sortOrder="@Model.CurrentSort"
                   asp-route-pageIndex="@(Model.Timetables.PageIndex - 1)"
                   asp-route-currentNameFilter="@Model.NameFilter"
                   class="btn btn-secondary @prevDisabled">
                    Назад
                </a>
                <a asp-page="./Index"
                   asp-route-workerShowId="@Model.WorkerShowId"
                   asp-route-monthShow="@Model.MonthShow"
                   asp-route-sortOrder="@Model.CurrentSort"
                   asp-route-pageIndex="@(Model.Timetables.PageIndex + 1)"
                   asp-route-currentNameFilter="@Model.NameFilter"
                   class="btn btn-secondary @nextDisabled">
                    Вперёд
                </a>

            </div>

        </div>

    </div>

    <div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <form method="post" asp-page-handler="Add">

                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Добавление</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">

                        <div class="row">
                            Новая работа
                        </div>

                        <div class="row">
                            <div class="col">
                                <select name="contractId" asp-items="Model.OptionsContracts" required>
                                    <option value="" selected disabled>- Выберите договор -</option> @* тут проверка на null должна быть *@
                                </select>
                            </div>
                            <div class="col">
                                <input name="hours" type="number" step="1" min="1" max="@Model.HoursByContract" placeholder="Кол-во часов" required/>
                                <div class="form-text">Остаток: @Model.HoursByContract ч.</div>
                            </div>
                            <input type="hidden" name="workerId" value="@Model.WorkerShowId" />
                            <input type="hidden" name="month" value="@Model.MonthShow" />
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
}