@page
@model WorkTimeTable.Pages.WorkersModel
@{
    ViewBag.Title = "Работники";
}

<div class="container">

    <table class="table table-striped table-bordered">
        <tr><th>ID</th><th>ФИО</th><th>Должность</th><th>Отдел</th></tr>
        @foreach (var worker in Model.Workers)
        {
            string departmentName = worker.Department?.Name ?? "Нет отдела";
            <tr>
                <td>@worker.Id</td>
                <td>@worker.Name</td>
                <td>@worker.Position</td>
                <td>@departmentName</td>
                <td>
                    <form method="post" asp-page-handler="Edit">
                        <input type="hidden" name="id" value="@worker.Id"/>
                        <input name="name" value="@worker.Name" /> @* проверка на null *@
                        <input name="position" value="@worker.Position" /> @* проверка на null *@
                        <select name="departmentId" asp-items="Model.Options">
                            <option selected disabled>Нет отдела</option>
                        </select>
                        <button type="submit" class="btn btn-light">Изменить</button>
                    </form>
                </td>
                <td>
                <form method="post" asp-page-handler="Remove">
                    <input type="hidden" name="id" value="@worker.Id" />
                    <button type="submit">Удалить</button>
                </form>
                </td>
            </tr>
        }
    </table>

</div>

<text>Добавить нового работника</text>

<form method="post" asp-page-handler="Add">
    <p>
        <input name="name" placeholder="имя" /> @* проверка на null *@
        <input name="position" placeholder="должность" /> @* проверка на null *@
        <select name="departmentId" asp-items="Model.Options">
            <option selected disabled>Нет Отдела</option>
        </select>
    </p>
    <button type="submit" >Добавить</button>
</form>

