<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>

@{
    var path = ViewContext.RouteData.Values["page"]?.ToString();
}

<body>
    <header>

        <nav class="navbar navbar-light bg-light">
            <div class="container">
                <ul class="nav nav-underline">
                    <li class="nav-item">
                        <a asp-page="/Index" 
                            asp-route-workerShowId="" 
                            asp-route-monthShow="" 
                            class="nav-link @(path == "/Index" || path == "/" ? "active" : "")">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a asp-page="/Workers" class="nav-link @(path == "/Workers" ? "active" : "")">Работники</a>
                    </li>
                    <li class="nav-item">
                        <a asp-page="/Contracts" class="nav-link @(path == "/Contracts" ? "active" : "")">Договоры</a>
                    </li>
                    <li class="nav-item">
                        <a asp-page="/Departments" class="nav-link @(path == "/Departments" ? "active" : "")">Отделы</a>
                    </li>
                </ul>

            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
